.icon {
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: currentcolor;
  -webkit-mask-size: 100%;
  left: 8px;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

